// Color
$black-17: #171717;
$white-fff: #ffffff;
$green-50c: #50c878;
$blue-227: #2274a5;


// Padding
$padding-10: 10px;
$padding-12: 12px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-35: 35px;
$padding-50: 50px;
$padding-70: 70px;
$padding-100: 100px;

// Margin
$margin-10: 10px;
$margin-12: 12px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-35: 35px;
$margin-50: 50px;
$margin-70: 70px;
$margin-100: 100px;